@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  scroll-behavior: smooth;
  font-family: "Lato";
}

.content {
  width: 1200px;
  max-width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.w-100 {
  width: 100%;
  display: flex;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.header,
.main,
.section {
  height: 100vh;
}

.main {
  background-image: url(../../images/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  background-image: url(../../images/bg-inscricoes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-image: url(../../images/bg-header-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll {
  font-weight: 900;
  font-size: 1vw;
  line-height: 89.2%;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 36px;
  color: #ffffff;
}

.container-title {
  padding-top: 200px;
}

.subtitle h2 {
  font-family: "Bebas Neue", cursive !important;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
}

.title h2 {
  font-weight: 900;
  font-size: 11vw;
  padding-top: 1rem;
}

.title h1 {
  font-weight: 900;
  font-size: 13.5vw;
}

.title h3 {
  font-weight: 900;
  font-size: 32px;  
  margin-bottom: 1rem;
}

.title small {
  font-weight: 600;
  font-size: 18px;
  line-height: 89.2%;
  color: #505050;
  margin-bottom: 5rem;
}

.texto {
  margin-top: 10rem;
}

.texto .title {
  margin-bottom: 2rem;
}

.texto p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3em;
  text-align: justify;
}

.content-main {
  display: flex;
}

.icons {
  text-align: end;
  margin-top: 20rem;
}

.icons svg {
  height: 50px;
  width: 50px;
  padding-bottom: 68px;
}

.title-section {
  margin-top: 5rem;
}

.title-section h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 89.2%;
  text-align: center;
}

.title-section h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 3em;
  text-align: center;
  color: #505050;
}

.form {
  align-self: center;
  margin-bottom: 7rem;
  width: calc(100% / 2);
}



.input-label label {
  font-weight: 500;
  font-size: 18px;
  line-height: 2em;
  color: #ffffff;
}
.input input,
select {
  width: 543px;
  height: 50px;
  background: #d9d9d9;
  border-radius: 15px;
  border: none;
  padding-left: 1em;
  outline: none;
}

.input select {
  padding: 1em;
  border: none;
}

.submit button {
  width: 543px;
  height: 74px;
  background: linear-gradient(90deg, #407004 0%, rgba(128, 228, 0, 0) 103.87%);
  border-radius: 15px;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

.submit button p {
  font-weight: 900;
  font-size: 20px;
  line-height: 89.2%;
  text-transform: uppercase;
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .content {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .w-100 {
    width: 100%;
    display: block;
  }
  
  .w-50 {
    width: 100%;
  }
  
  .header,
  .main,
  .section {
    height: 100vh;
    padding: 0 2rem 0 2rem;
  }
  
  .main {
    background-image: url(../../images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -35rem;
  }
  
  .section {
    background-image: url(../../images/bg-inscricoes.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header {
    background-image: url(../../images/bg-header-new.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -45rem;
  }
  
  .scroll {
    font-weight: 900;
    font-size: 4vw;
    line-height: 89.2%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 36px;
    color: #ffffff;
  }
  
  .container-title {
    padding-top: 30vh;
    text-align: center;
  }
  
  .subtitle h2 {
    font-family: "Bebas Neue", cursive !important;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 89.2%;
  }
  
  .title h2 {
    font-weight: 900;
    font-size: 22vw;
  }
  
  .title h1 {
    font-weight: 900;
    font-size: 27vw;
    line-height: 89.2%;
  }
  
  .title h3 {
    font-weight: 900;
    font-size: 5vw;
    line-height: 89.2%;
    padding-top: 4rem;
    margin-bottom: .5rem;
  }
  
  .title small {
    font-weight: 600;
    font-size: 18px;
    line-height: 89.2%;
    color: #d1d1d1;

  }
  
  .texto {
    margin-top: 2rem;
    max-width: 447px;
  }
  
  .texto p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3em;
    text-align: justify;
  }
  
  .content-main {
    display: flex;
  }
  
  .icons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .icons svg {
    height: 50px;
    width: 50px;
    padding-bottom: 68px;
  }
  
  .title-section {
    margin-top: 5rem;
  }
  
  .title-section h3 {
    font-weight: 900;
    font-size: 32px;
    line-height: 89.2%;
    text-align: center;
  }
  
  .title-section h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 3em;
    text-align: center;
    color: #505050;
  }
  
  .form {
    margin-bottom: 10rem;
    align-self: center;
    width: calc(100% / .2);
  }

  .input {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  
  .input-label label {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 2em;
    color: #ffffff;
  }
  .input input,
  select {
    padding-left: 1rem;
    width: 543px;
    height: 50px;
    background: #d9d9d9;
    border-radius: 15px;
    border: none;
    font-size: 16px;
  }
  
  .input select {
    padding: 1em;
    border: none;
  }
  
  .submit button {
    width: 543px;
    height: 74px;
    background: linear-gradient(90deg, #407004 0%, rgba(128, 228, 0, 0) 103.87%);
    border-radius: 15px;
    margin-top: 2rem;
    border: none;
  }
  
  .submit button p {
    font-weight: 900;
    font-size: 20px;
    line-height: 89.2%;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 255px) and (max-width: 399px) {
  .content {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .w-100 {
    width: 100%;
    display: block;
  }
  
  .w-50 {
    width: 100%;
  }
  
  .header,
  .main,
  .section {
    height: 100vh;
    padding: 0 2rem 0 2rem;
  }
  
  .main {
    background-image: url(../../images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -22rem;
  }
  
  .section {
    background-image: url(../../images/bg-inscricoes.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .header {
    background-image: url(../../images/bg-header-new.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -32rem;
  }
  
  .scroll {
    font-weight: 900;
    font-size: 4vw;
    line-height: 89.2%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 36px;
    color: #ffffff;
  }
  
  .container-title {
    padding-top: 30vh;
    text-align: center;
  }
  
  .subtitle h2 {
    font-family: "Bebas Neue", cursive !important;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 89.2%;
  }
  
  .title h2 {
    font-weight: 900;
    font-size: 22vw
  }
  
  .title h1 {
    font-weight: 900;
    font-size: 27vw;
    line-height: 89.2%;
  }
  
  .title h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 89.2%;
    padding-top: 1rem;
    margin-bottom: .5rem;
  }
  
  .title small {
    font-weight: 600;
    font-size: 18px;
    line-height: 89.2%;
    color: #d1d1d1;

  }
  
  .texto {
    margin-top: 2rem;
    max-width: 447px;
  }
  
  .texto p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3em;
    text-align: justify;
  }
  
  .content-main {
    display: flex;
  }
  
  .icons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }
  
  .icons svg {
    height: 50px;
    width: 50px;
    padding-bottom: 68px;
  }
  
  .title-section {
    margin-top: 2rem;
  }
  
  .title-section h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 89.2%;
    text-align: center;
  }
  
  .title-section h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 3em;
    text-align: center;
    color: #505050;
  }
  
  .form {
    margin-bottom: 10rem;
    align-self: center;
    width: 270px;
  }

  .input {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  
  .input-label label {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 12px;
    line-height: 2em;
    color: #ffffff;
  }
  .input input,
  select {
    padding-left: 1rem;
    width: 500px;
    height: 37px;
    background: #d9d9d9;
    border-radius: 10px;
    border: none;
    font-size: 12px;
  }
  
  .input select {
    padding: 1em;
    border: none;
  }
  
  .submit button {
    width: 543px;
    height: 56px;
    background: linear-gradient(90deg, #407004 0%, rgba(128, 228, 0, 0) 103.87%);
    border-radius: 15px;
    margin-top: 1rem;
    border: none;
  }
  
  .submit button p {
    font-weight: 900;
    font-size: 14px;
    line-height: 89.2%;
    text-transform: uppercase;
  }
}